<ion-view view-title="管理 当前桌 T-{{selectedTableId}}">
  <ion-content>
    <ion-refresher
  pulling-text="下拉更新..."
  on-refresh="doRefresh()">
</ion-refresher>
<ul class="list">
  <li class="item">
    Numéro de table : T-{{selectedTableId}}
  </li>
  <li class="item">
    Update : {{lastActivity | date:'short'}}
  </li>
    <li class="item">
      l'état : <span ng-show="checkStatus == false">ouvert</span>
    </li>
    <li class="item">
      L'addition : {{totalPrice}} €
    </li>
</ul>
<button class="button button-block button-dark" ng-click="printReceiptActionSheet()">
Print Ticket
</button>
<button class="button button-block button-dark" ng-click="checkoutActionSheet()">
Check-Out
</button>
  </ion-content>
</ion-view>
