<ion-view view-title="Playlists"> <ion-content padding="true"
	scroll="false" class="has-header">

<div class="list list-inset">
	<label class="item item-input"> <i
		class="icon ion-search placeholder-icon"></i>{{pnum}}
	</label>
</div>
<div class="list">

	<div ng-repeat="item in products" class="item item-thumbnail-left">

		<img ng-src="{{ item.thumb }}">
		<h2>Name: {{ item.productName }}</h2>
		<h4>Price: {{ item.productPrice }}</h4>
		<button class="button button-small button-assertive"
			ng-click="clickCount($event, {{item.id}}, 1)">+</button>
		<label class="item item-input" id="count{{item.id}}">0</label>
		<button class="button button-small button-assertive"
			ng-click="clickCount($event, {{item.id}}, -1)">-</button>
	</div>

</div>
<div>
	<div class="row">
		<div class="col" ng-click="clickKey($event, {{i}})"
			ng-repeat="i in [1, 2, 3, 4, 5, 6]">{{i}}</div>
	</div>
	<div class="row">
		<div class="col" ng-click="clickKey($event, {{i}})"
			ng-repeat="i in [7,8,9,0]">{{i}}</div>
		<div class="col" ng-click="clickKey($event, 10)">&lt;-</div>
		<div class="col" ng-click="clickKey($event, 11)">X</div>
	</div>
</div>
</ion-content> </ion-view>
