<ion-view view-title="Historique T-{{selectedTableId}}">
  <ion-content>
    <div ng-hide="orders" class="list " style="width: 100%; height: 70%;  overflow: auto;">
          <h4 class="padding">Il n'y a aucune commande...</h4>
            </div>
<div ng-show="orders" class="list " style="width: 100%; height: 70%;  overflow: auto;">
        <a href=""  ng-repeat="item in orders | orderBy:'-id'" class="item item-thumbnail-left">
          <img ng-src="{{ item.product.thumb }}">
          <h2> {{ item.product.productName }} <small ng-show = "item.orderAttributions">({{item.orderAttributions[0].attribution.attributionName}})</small></h2>
          <p><b>qté : {{item.count}}</b></p>
          <p ng-hide = "item.orderAttributions"><b>Prix : {{item.product.productPrice/100 | currency:'€ '}}</b></p>
          <p ng-show = "item.orderAttributions"><b>Prix : {{(item.product.productPrice+item.orderAttributions[0].attribution.attributionPrice)/100 | currency:'€ '}}</b></p>
          <p><small><i class="ion-ios-clock-outline"></i> {{item.created | date:'d-MMM-y H:m:s'}}</small></p>
        </a>
        </div>
  </ion-content>
</ion-view>
