<ion-view view-title="Liste des tables">
  <ion-content>
    <div class="row tblBtn">
    <div class="col col-50"  ng-repeat="item in tableList" >
      <a class="button button-dark ion-bag" ng-show = "{{item.id == 0 && item.turnover == null}}"> Emporter / 外卖</a>
      <a class="button button-stable" ng-show = "{{item.id != 0 && item.turnover == null}}"> {{ "T-" +item.id}}. <i class="icon ion-checkmark-circled balanced"></i></a>
      <a class="button button-assertive" ng-show = "{{item.turnover != null}}"> {{ "T-" + item.id}}. Occupé / 用餐</a>
    </div>

</div>
  </ion-content>
</ion-view>
