<ion-modal-view class="mymodal">
  <div class="card">

    <div class="item item-thumbnail-left text-center">
            <img src="{{product.thumb}}"  >
          <h3 class="padding-left"><span class="pull-left">{{product.productName}}</span></h3>
          <h3 class="padding-left"><span class="pull-left">{{product.productPrice/100 | currency:'€ '}}</span></h3>
          <h3 class="padding-left"><span class="pull-left">Description</span></h3>
          <div class="padding-left pull-left">
            <p ng-hide="{{product.description}}">
              Rien...
            </p>
            <p ng-show="{{product.description}}">
              {{product.description}}
            </p>
          </div>
    <button class="button  button-dark closeBtn" ng-click="closeModal()"><i class="icon ion-close-circled"></i></button>
      </div>

    <!-- <form name="myForm" ng-submit="onSubmit()"> -->
    <div class="text-center">

      <div class="item item-text-wrap">
        <button class="button icon ion-ios-minus" ng-click="subtractCount()"></button>
        <div class="productCount" id="productCount{{product.id}}">
          <input  ng-model="currentCount" name="count"    >
        </div>
        <button class="button icon ion-ios-plus" ng-click="addCount()"></button>
        <hr>
        <button class="button button-positive" ng-click="onSubmit()"><i class="icon ion-android-cart"></i> Ajouter</button>
      </div>

      <div class="attributions" ng-show = "product.attributionGroups" ng-repeat = "(key , attrGroup) in product.attributionGroups">
        <!-- attributions -->
        <div class="item item-divider" >
          {{attrGroup.attributionGroupName}}
        </div>
        <div class="item item-text-wrap" >
          <div class="list">
          <label class="item item-radio " ng-repeat = "(key , attr) in attrGroup.attributions">
            <input type="radio" name="group" ng-model = "attrValue.key" ng-value="{{key}}">
            <div class="item-content">
              <span class="pull-left">{{attr.attributionName}}</span><span class="pull-right">{{attr.attributionPrice/100 | currency : "€"}}</span>
              <div class="clearfix"></div>
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>

        </div>
        </div>
      </div>

    </div>


  </div>
</ion-modal-view>
