<ion-modal-view class="mymodal">
  <ion-header-bar>
    <h1 class="title">Nouveau emporter</h1>
    <button class="button  button-dark closeBtn" ng-click="closeModal()"><i class="icon ion-close-circled"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="item-divider">
      <div class="pull-left">
        <h4 class="padding-left" ng-if="deliveryValue.checked == false"><i class="ion ion-bag"></i> Emporter</h4>
        <h4 class="padding-left" ng-if="deliveryValue.checked == true"><i class="ion ion-ios-home"></i> Livraison</h4>
      </div>
      <div class="pull-right padding-right padding-top">
        <label class="toggle">
          <input type="checkbox" ng-model="deliveryValue.checked"  ng-change="deliveryValueChange()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </ion-nav-buttons>
      </label>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="form" >
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nom du client</span>
        <input type="text" placeholder="Nom du client" ng-model="user.name" >
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Téléphone:</span>
        <input type="text" pattern="[0-9]*" placeholder="Téléphone:" ng-model="user.telephone">
      </label>
      <label class="item item-input item-floating-label" ng-if="deliveryValue.checked">
        <span class="input-label">Adresse:</span>
        <input type="text" placeholder="Adresse:" ng-model="user.address">
      </label>
      <label class="item item-input item-floating-label" ng-if="deliveryValue.checked">
        <span class="input-label">Commune:</span>
        <input type="text" placeholder="Commune:" ng-model="user.city">
      </label>
      <label class="item item-input item-floating-label" ng-if="deliveryValue.checked">
        <span class="input-label">Sonnette:</span>
        <input type="text" placeholder="Sonnette:" ng-model="user.ring">
      </label>
      <h4 class="text-center" ng-if="deliveryValue.checked == false">Heure d'emporter</h4>
      <h4 class="text-center" ng-if="deliveryValue.checked == true">Heure de livraison</h4>

      <!-- <ionic-datepicker input-obj="datepickerObject">
        <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
      </ionic-datepicker> -->
      <ionic-timepicker input-obj="timePickerObject">
        <button class="button button-block button-positive overflowShow">
          <standard-time-no-meridian etime='timePickerObject.inputEpochTime'></standard-time-no-meridian>
        </button>
      </ionic-timepicker>
    </div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Message supplémentaire:</span>

      <textarea placeholder="Texte..." rows="8" cols="10" name="memo" ng-model="user.memo">
      </textarea>
    </label>
    <hr>
    <button type="button" name="button" class="button button-block button-assertive" ng-click="createTakeaway()">creer</button>

  </div>

</div>
</ion-content>
</ion-modal-view>
