<ion-view view-title="{{categoryName}}">
  <ion-nav-buttons side="right">
    <label class="toggle">
      <input type="checkbox" ng-model="viewType.checked"  ng-change="viewTypeChange()">
      <div class="track">
        <div class="handle"></div>
      </div>
    </ion-nav-buttons>

    <ion-content>
      <div class="list " style="width: 100%; height: 70%;  overflow: auto;" ng-if = "viewType.checked == false">
        <div ng-click ="openModal($index)" ng-repeat="item in productList" class="item item-thumbnail-left productList">
          <img ng-src="{{ item.thumb }}">
          <h2> {{ item.productName }}</h2>
        </div>
      </div>

      <div ng-repeat="item in productList" ng-if = "viewType.checked == true">
          <div class="row" ng-if="$even">
            <div class="col col-50 " >
              <div class="list card " ng-click ="openModal($index)">
                <div class="item item-image">
                  <img ng-src="{{ productList[$index+0].thumb }}">
                </div>
                <div class="item assertive">
                  {{ productList[$index+0].productName }}
                </div>
              </div>
            </div>
            <div class="col col-50">
              <div class="list card" ng-click ="openModal($index+1)">
                <div class="item item-image">
                  <img ng-src="{{ productList[$index+1].thumb }}">
                </div>
                <div class="item assertive">
                  {{ productList[$index+1].productName }}
                </div>
              </div>
            </div>
          </div>
      </div>

    </ion-content>
  </ion-view>
