/* Empty. Add your own CSS if you like */
.loading .spinner{ stroke:#fff;}

.item .badge{top:27px;}
.mymodal .item .badge{top:15px;}
.bar-footer{
  height:auto;
}
.itemNum{text-align: center;}

.tblBtn{    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;}
  .tblBtn .button {width:100%;}

  .dark {
    background-color: #3f4041 !important;
    color: #ffffff;
  }

  .menu .item{
    background-color: black;
    color:white;
    border-color: #666666;
  }

  .menu .item > a.item-content{
    background-color: black;
  }

  .pull-left{
    float: left;
  }
  .pull-right{
    float: right;
  }

  .productCount{  display: inline;}
  .productCount input{
    width: 70px;
    font-size: 25px;
    text-align: center;
    height: 47px;
    border: 1px solid #aaa;
    display: inline;
    box-shadow:none;
  }

  /* android customer button */
  .platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2); }
    .platform-android .action-sheet {
      margin: 0; }
      .platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
        text-align: left;
        border-color: transparent;
        font-size: 16px;
        color: inherit; }
        .platform-android .action-sheet .action-sheet-title {
          font-size: 14px;
          padding: 16px;
          color: #666; }
          .platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
            background: #e8e8e8; }
            .platform-android .action-sheet-group {
              margin: 0;
              border-radius: 0;
              background-color: #fafafa; }
              .platform-android .action-sheet-cancel {
                display: none; }
                .platform-android .action-sheet-has-icons .button {
                  padding-left: 56px; }

                  .item h2{font-size: 23px;}

                  .mymodal .closeBtn {

                    position: absolute;
                    top: 0;
                    right: 0;
                  }

                  @media (min-width: 680px) {
                    .mymodal {
                      width: 90%;
                      height: 90%;
                      top: 5%;
                      left: 5%;
                      right: 5%;
                      bottom: 5%;
                    }
                  }
