/* Empty. Add your own CSS if you like */
.bar-footer{
  height:auto;
}
.itemNum{text-align: center;}

.tblBtn{    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;}
.tblBtn .button {width:100%;}

.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
}

.menu .item{
  background-color: black;
  color:white;
  border-color: #666666;
}

.menu .item > a.item-content{
  background-color: black;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
